* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
  /* border: 1px solid red; */
}
@font-face {
  font-family: 'Bubblegum';
  src: url(../styles/fonts/BubblegumSans-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik-normal';
  src: url(../styles/fonts/Rubik-Medium.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik-italic';
  src: url(../styles/fonts/Rubik-MediumItalic.ttf);
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Rubik-light';
  src: url(../styles/fonts/Rubik-Regular.ttf);
  font-weight: normal;
  font-style: italic;
}

html {
  height: 100vh;
  width: 100%;
}

h2,
h2 span {
  font-family: 'Rubik-normal';
  font-weight: normal;
}

p {
  font-family: 'Rubik-light';
  font-weight: normal;
}

em {
  font-family: 'Rubik-italic', sans-serif;
}

body {
  height: 100%;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
  display: flex;
}

#logo {
  height: 100%;
  width: 35%;
}

.header-section {
  background-image: url(../Images/matthew-brodeur-DH_u2aV3nGM-unsplash.jpg);
  background-size: cover;
  background-position: center;
 /*  height: 100%; */
  height: 109vh;
  width: 100%;
  position: relative;
}

.header-content {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 25%;
  left: 0;
  right: 0;
  height: 20vh;
}

.header-content .logo-img img {
  height: 60px;
  margin-right: 10px;
}

.header-content .name h1 {
  /* font-size: 6vh; */
  /* font-family: 'Rubik-italic', sans-serif; */
  font-size: 4vh;
  font-family: 'Bubblegum', sans-serif;
  text-transform: uppercase;
  color: #fff;
  font-style: oblique;
}

form {
  height: 100%;
  width: 65%;
}

.form-info {
  height: 25%;
  width: 100%;
  padding: 0.8rem 11rem 2rem 2rem;
  color: #3e412f;
  background-color: #f1f2f3;
}

.form-info>h2,
.form-info>h2>* {
  font-size: 1.1rem;
}

.form-info span,
.form-info h2 {
  display: block;
  margin-top: 1rem;
}

.form-input {
  /* height: 50% */
  min-height: 50%;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.form-title {
  font-size: 1.1rem;
}

.form-user-details {
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-input-box {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 15px;
  width: 50%;
}

.form-input-box label {
  width: 95%;
  margin: 5px 0;
}

.form-input-box input {
  height: 40px;
  width: 95%;
  border-radius: 8px;
  outline: none;
  border: 1px solid #E5E7EB;
  padding: 0 10px;
}

button[type='reset'] {
  background-color: #596d48;
  border: none;
  border-radius: 8px;
  font-size: 0.8rem;
  font-family: 'Rubik-light', sans-serif;
  font-weight: normal;
  color: #fff;
  padding: 0.3rem 1.3rem;
  cursor: pointer;
}

.form-input button:hover {
  background: #6da73b;
}

form>div {
  height: fit-content;
  width: 300px;
}

input {
  border: 2px solid blue;
  border-radius: 3px;
  outline: none;
}

input:hover {
  outline: 1px solid grey;
}

input:focus {
  border: 2px solid blue;
}

input:not(:focus):not(:placeholder-shown):invalid {
  border: 2px solid red;
}

input:not(:focus):not(:placeholder-shown):invalid+p {
  display: block;
}

input:focus:not(:placeholder-shown):invalid {
  border: 2px solid red;
}

input:valid {
  border: 2px solid green;
}

input~p {
  height: fit-content;
  width: 100%;
  display: none;
  color: red;
  font-size: 12px;
}

.submit {
  height: 25%;
  width: 100%;
  background-color: #f1f2f3;
  padding: 1.2rem 2rem 2rem 2rem;
}

button[type='submit'] {
  background-color: #596d48;
  border: none;
  border-radius: 8px;
  font-size: 0.8rem;
  font-family: 'Rubik-light', sans-serif;
  font-weight: normal;
  color: #fff;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
}

.submit button:hover {
  background: #6da73b;
}

.submit p {
  margin-top: 1.3rem;
  font-size: 0.8rem;
  color: #3e412f;
}

.submit a {
  font-size: 0.8rem;
  color: #848181;
  text-decoration: none;
  font-family: 'Rubik-light', sans-serif;
  font-weight: normal;
}
.submit a:hover {
 text-decoration: underline;
 color: #6da73b;
}

@media (max-width: 768px) {
  .header-content {
    padding: 10px;
  }

  h1 {
    font-size: 20%;
  }
  .form-input-box {
    margin-bottom: 12px;
    width: 100%;
  }
}