* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
}
@font-face {
  font-family: 'Bubblegum';
  src: url(../styles/fonts/BubblegumSans-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik-normal';
  src: url(../styles/fonts/Rubik-Medium.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik-italic';
  src: url(../styles/fonts/Rubik-MediumItalic.ttf);
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Rubik-light';
  src: url(../styles/fonts/Rubik-Regular.ttf);
  font-weight: normal;
  font-style: italic;
}

html {
  height: 100vh;
  width: 100%;
}

h2,
h2>* {
  font-family: 'Rubik-normal';
  font-weight: normal;
  font-size: 1.8rem;
}

p {
  font-family: 'Rubik-light';
  font-weight: normal;
}

em {
  font-family: 'Rubik-italic', sans-serif;
}

body {
  height: 100%;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
  display: flex;
}

#logo {
  height: 100%;
  width: 35%;
}

.header-section {
  background-image: url(../Images/matthew-brodeur-DH_u2aV3nGM-unsplash.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  min-height: 100%;
}

.header-content {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 25%;
  left: 0;
  right: 0;
  min-height: 20vh;
}

.header-content .logo-img img {
  min-width: 10vw;
  margin-right: 10px;
}

.header-content .name h1 {
  font-size: 4rem;
  font-family: 'Bubblegum', sans-serif;
  text-transform: uppercase;
  color: #fff;
  font-style: oblique;
}

form {
  min-height: 100%;
  width: 65%;
  background-color: #f1f2f3;

}

.form-info {
  min-height: 25%;
  width: 100%;
  padding: 0.8rem 11rem 2rem 2rem;
  color: #3e412f;
}

.form-info h2,
.form-info span {
  display: block;
  margin-top: 2.5rem;
}

.form-input {
  min-height: 50%;
  width: 100%;
  background-color: #fff;
  padding: 2.5rem;
  box-shadow: 7px 8px 20px 3px rgba(0,0,0,0.3);
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.form-user-details {
  padding-top: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.form-input-box {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 15px;
  width: 45%;
}

.form-input-box label {
  width: 95%;
  font-size: 1.1rem;
  font-family: 'Rubik-light', sans-serif ;
}

.form-input-box input {
  height: 50px;
  width: 80%;
  border-radius: 8px;
  outline: none;
  border: 1px solid #E5E7EB;
  padding: 0 10px; 
}

button[type='reset'] {
  background-color: #596d48;
  border: none;
  border-radius: 8px;
  font-size: 0.8rem;
  font-family: 'Rubik-light', sans-serif;
  font-weight: normal;
  color: #fff;
  padding: 0.5rem 1.3rem;
  cursor: pointer;
}

.form-input button:hover {
  background: #6da73b;
}

form>div {
  height: fit-content;
  width: 300px;
}

input {
  border: 2px solid blue;
  border-radius: 3px;
  outline: none;
}

input:hover {
  outline: 1px solid grey;
}

input:focus {
  border: 2px solid blue;
}

input:not(:focus):not(:placeholder-shown):invalid {
  border: 2px solid red;
}

input:not(:focus):not(:placeholder-shown):invalid+p {
  display: block;
}

input:focus:not(:placeholder-shown):invalid {
  border: 2px solid red;
}

input:valid {
  border: 2px solid green;
}

input~p {
  height: fit-content;
  width: 100%;
  display: none;
  color: red;
  font-size: 12px;
}

.submit {
  max-height: 25%;
  width: 100%;
  padding: 1.92rem 2.5rem;
}

button[type='submit'] {
  background-color: #596d48;
  border: none;
  border-radius: 8px;
  font-size: 0.8rem;
  font-family: 'Rubik-light', sans-serif;
  font-weight: normal;
  color: #fff;
  padding: 0.7rem 1.5rem;
  cursor: pointer;
}

.submit button:hover {
  background: #6da73b;
}

.submit p {
  padding-top: 1.8rem;
  font-size: 0.8rem;
  color: #3e412f;
}

.submit a {
  font-size: 0.8rem;
  color: #848181;
  text-decoration: none;
  font-family: 'Rubik-light', sans-serif;
  font-weight: normal;
}
.submit a:hover {
 text-decoration: underline;
 color: #6da73b;
}

@media screen and (max-width: 1630px) {
  .header-content .name h1 {
    font-size: 3rem;
  }
}
@media screen and (max-width: 1400px) {
  .header-content .name h1 {
    font-size: 3rem;
  }
}
@media screen and (max-width: 1450px) {
  main {
    flex-direction: column;
  }
  #logo {
    width: 100%;
    height: 25%;
  }
  .header-section {
    height: 25%;
    min-height: 25%;
  }
  .header-content {
    min-height: 100%;
    padding: 5px;
    position: static;
  }
  form {
    width: 100%;
  }
}

@media (max-width: 1200px) {
  .header-content {
    padding: 10px;
  }

  h1 {
    font-size: 20%;
  }
  .form-input-box {
    margin-bottom: 12px;
    width: 100%;
  }
}